<!Doctype html>
<html lang="pt">
  <head>
    <title>HealthTrack - Atividade Física</title>

    <meta charset="utf-8">
    <meta name="description" content="Registros de Atividade Física">
    <meta name="author" content="Diego">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/css/base.css">

    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favincon.ico" />
    <link rel="icon" type="image/x-icon" href="../../static/img/favincon.ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../dashboard.html">HealthTrack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Atividade Física<span class="sr-only">(atual)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="peso.html">Peso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pressao-arterial.html">Pressão Arterial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="alimentacao.html">Alimentação</a>
          </li>
        </ul>
        <span class="navbar-text nav-button">
          <a href="perfil.html"><span class="fas fa-user"></span> João da Silva</a>
        </span>
      </div>
    </nav>

    <div class="container">
      <h1>Registros de Atividade Física</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Descrição</th>
              <th scope="col">Calorias</th>
              <th scope="col">Data</th>
              <th scope="col" colspan="2" class="center">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Caminhada</td>
              <td>Caminhada noturna</td>
              <td>100</td>
              <td>20/02/2018 20:00</td>
              <td class="center"><a href="#" title="Alterar registro"><span class="fas fa-edit"></span></a></td>
              <td class="center"><a href="#" title="Remover registro"><span class="fas fa-eraser"></span></a></td>
            </tr>
            <tr>
              <td>Corrida</td>
              <td>Corrida no parque</td>
              <td>350</td>
              <td>18/02/2018 08:00</td>
              <td class="center"><a href="#" title="Alterar registro"><span class="fas fa-edit"></span></a></td>
              <td class="center"><a href="#" title="Remover registro"><span class="fas fa-eraser"></span></a></td>
            </tr>
            <tr>
              <td>Caminhada</td>
              <td>Caminhada noturna</td>
              <td>120</td>
              <td>15/02/2018 20:00</td>
              <td class="center"><a href="#" title="Alterar registro"><span class="fas fa-edit"></span></a></td>
              <td class="center"><a href="#" title="Remover registro"><span class="fas fa-eraser"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <a href="../cadastro/atividade.html"><button type="button" class="btn btn-primary">Adicionar atividade física</button></a>
    </div>

    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
