<!Doctype html>
<html lang="pt">
  <head>
    <title>HealthTrack - Dashboard</title>

    <meta charset="utf-8">
    <meta name="description" content="healthtrack dashboard page">
    <meta name="author" content="Diego">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/base.css">

    <link rel="shortcut icon" type="image/x-icon" href="../static/img/favincon.ico" />
    <link rel="icon" type="image/x-icon" href="../static/img/favincon.ico" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="dashboard.html">HealthTrack<span class="sr-only">(atual)</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="lista/atividade.html">Atividade Física</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lista/peso.html">Peso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lista/pressao-arterial.html">Pressão Arterial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="lista/alimentacao.html">Alimentação</a>
          </li>
        </ul>
        <span class="navbar-text nav-button">
          <a href="perfil.html"><span class="fas fa-user"></span> João da Silva</a>
        </span>
      </div>
    </nav>

    <div class="container text-center">
      <div class="content-box">
        <h1 class="center"><a href="perfil.html"><span class="fas fa-user"></span> João da Silva</a></h1>
        <ul class="atributos">
          <li><span class="atributo-chave">Idade:</span> <span class="atributo-valor">22 anos</span></li>
          <li><span class="atributo-chave">Peso:</span> <span class="atributo-valor">70 kg - 20/02/2018</span></li>
          <li><span class="atributo-chave">Altura:</span> <span class="atributo-valor">1,70 m</span></li>
          <li><span class="atributo-chave">IMC:</span> <span class="atributo-valor">24,2</span></li>
          <li>
            <span class="atributo-chave">Pressão:</span> <span class="atributo-valor">
              120/80 mmHg - 20/02/2018
            </span>
          </li>
        </ul>
      </div>
    </div>

    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
