<!Doctype html>
<html lang="pt">
  <head>
    <title>HealthTrack - Cadastro</title>

    <meta charset="utf-8">
    <meta name="description" content="cadastro de usuários">
    <meta name="author" content="Diego">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">

    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/css/base.css">

    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favincon.ico" />
    <link rel="icon" type="image/x-icon" href="../../static/img/favincon.ico" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="../dashboard.html">HealthTrack</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="../lista/atividade.html">Atividade Física</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../lista/peso.html">Peso</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../lista/pressao-arterial.html">Pressão Arterial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../lista/alimentacao.html">Alimentação</a>
          </li>
        </ul>
        <span class="navbar-text nav-button active">
          <a href="#"><span class="fas fa-user"></span> Cadastrar<span class="sr-only">(atual)</span></a>
        </span>
        <span class="navbar-text nav-button">
          <a href="../login.html"><span class="fas fa-sign-in-alt"></span> Entrar</a>
        </span>
      </div>
    </nav>

    <div class="container">
      <h1>Cadastro</h1>
      <form id="perfilForm">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo">
        </div>
        <div class="form-group">
          <label for="data">Data de nascimento</label>
          <input type="date" id="data" name="data" max="3000-12-31" min="1000-01-01" class="form-control">
        </div>
        <div class="form-group">
          <label for="altura">Altura</label>
          <input type="number" class="form-control" id="altura" name="altura" placeholder="Altura em metros">
        </div>
        <div class="form-group">
          <label for="genero">Gênero (para cálculo do IMC)</label>
          <select id="genero" name="genero" class="form-control">
            <option value="">Selecione</option>
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
        </div>
        <div class="form-group">
          <label for="confirmaSenha">Confirmação da senha</label>
          <input type="password" class="form-control" id="confirmaSenha" name="confirmaSenha" placeholder="Confirme a senha">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
    </div>

    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.validate-1.17.0.min.js"></script>
    <script src="../../static/js/format-date.js"></script>
    <script src="../../static/js/cadastro-perfil-validate.js"></script>
  </body>
</html>
